<body>
    <img src="../assets/img/img_inicial.jpg" alt="img" class="imagen_inicial">

    <h1 class="my-5 text-center titulo">Asociación de Interés Social Comunitario</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 80%; align-items: center; border: none; margin-left: 10%;">
                <img src="../assets/img/mision.png" alt="img" class="img_mision">
                <div class="card-body text-center">
                    <h5 class="card-title">Misión</h5>
                    <p class="card-text">ASISCO como asociación sin ánimo de lucro es una escuela de vida, que busca
                        contribuir en
                        un desarrollo integral a las personas con Síndrome de Down, formándolos para que sean incluidos
                        en el campo
                        laboral y social permitiéndoles una independencia de vida.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="width: 80%; align-items: center; border: none;">
                <img src="../assets/img/vision.png" alt="img" class="img_vision">
                <div class="card-body text-center">
                    <h5 class="card-title">Visión</h5>
                    <p class="card-text">Seguir siendo una asociación reconocida socialmente a nivel mundial por sus
                        programas de
                        sensibilización, apoyo y aceptación enfocado a personas con Síndrome de Down. Igualmente ser
                        reconocida por
                        su excelente sistema de gestión corporativa que apoyados en una adecuada estructuración
                        organizacional
                        contribuyen a la misión social.</p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mt-5 mx-5 titulo">Tengo un hijo Down</h2>
    <p class="texto mt-2">Lo primero que tienes que saber es que no estás solo, somos muchos alrededor del mundo, que
        hemos
        tenido tus mismas preguntas, tus mismos miedos, tus mismas angustias, y queremos decirte que cuentas con
        nosotros,
        ponte en contacto con ASISCO para darte todo nuestro apoyo; contamos con un equipo interdisciplinario dentro de
        los
        que se destacas Psicólogos, Médicos Pediatras, Médicos Genetistas, Grupo de apoyo de Madres y Padres, los niños,
        adolescentes y jóvenes que hacen parte de nuestro grupo de trabajo.</p>
    <div class="row">
        <div class="col-md-8">
            <img src="../assets/img/img2.png" alt="img" class="img">
        </div>
        <div class="col-md-2">
            <img src="../assets/img/img3.png" alt="img" class="img3">
        </div>
    </div>
</body>