.navbar{
    background-color: #f2f2f2;
    margin: 0%;
    padding: 0%;
    height: 10vh;
}

.contenido-navbar{
    width: 100%;
}

.img-logo{
    height: 8vh;
    width: auto;
    margin-top: 0.5em;
    margin-left: 1em;
}

.texto-navbar{
    color: #f2935c;
    font-family: cursive;
    font-size: 1.3vw;
    width: auto;
    margin-top: 1%;
    margin-left: 3%;
}

.sesion{
    width: auto;
    margin-left: 3%;
}

.boton-iniciar-sesion{
    width: auto;
    height: 5vh;
    margin-top: 1%;
    margin-left: 3%;
    padding-top: 1%;
    color: #038c73;
    font-family: cursive;
    font-size: 1.2vw;
}

.texto-registro{
    color: #038c73;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    width: auto;
    margin-left: 5%;
}

.imagen_inicial{
    width: 100%;
}

.titulo{
    color: #038c73;
    font-size: 30pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img_mision{
    width: 10em;
    height: auto;
}

.img_vision{
    width: 10em;
    height: auto;
}

.card-title{
    color: #767676;
    font-size: 25pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto{
    margin-left: 3.5%;
    margin-right: 8%;
}

.img{
    width: 100%;
    height: auto;
    margin-left: 5%;
}

.img3{
    width: 125%;
    height: auto;
    margin-left: 30%;
}

.texto-naranja{
    color: #f2935c;
    font-size: larger;
}

.texto-azul{
    color: #038c73;
    font-size: larger;
}

.logo-red-social{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.texto-redes-sociales{
    color: #038c73;
    font-size: x-large;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}