<nav class="navbar">
  <div class="row contenido-navbar">
    <img src="../assets/img/asisco_up.png" alt="logo" class="img-logo">
    <a class="texto-navbar" routerLink="/inicio">Inicio</a>
    <a class="texto-navbar">Nosotros</a>
    <a class="texto-navbar">Actividades</a>
    <a class="texto-navbar">Semana Down</a>
    <a class="texto-navbar">Apóyanos</a>
    <a class="texto-navbar">Unirme</a>
    <div class="row sesion">
      <button type="button" routerLink="/login" class="btn btn-outline-warning boton-iniciar-sesion d-flex align-center">Iniciar
        sesión</button>
      <a class="texto-registro" routerLink="/registro">o Registrarme</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="row my-5">
    <div class="col-md-3 text-center">
      <img src="../assets/img/mano.jpeg" alt="img" style="width: 150px; height: auto; margin-top: 3%; margin-left: 4%;">
    </div>
    <div class="col-md-3">
      <p class="card-title texto-naranja mx-3">Contacto</p>
      <p class="card-text"><span class="texto-azul">Dirección: </span> Calle 58 # 23 A 30</p>
      <p class="card-text"><span class="texto-azul">Teléfono: </span> 60(6)8916966</p>
      <p class="card-text"><span class="texto-azul">Celular: </span> 3002675041</p>
    </div>
    <div class="col-md-2">
      <p class="card-title texto-naranja mx-3">Cuentas Bancarias</p>
      <span class="texto-azul">Cuentas de Ahorros: </span>
      <p class="card-text">Davivienda: 086070315220</p>
      <p class="card-text">Bancolombia: 05942640881</p>
      <span class="texto-azul">Cuenta Corriente: </span>
      <p class="card-text">Davivienda: 086069997665</p>
    </div>
    <div class="col-md-3 text-center">
      <p class="text-center texto-redes-sociales">Síguenos en nuestras redes sociales</p>
      <img src="../assets/img/logo facebook.jpg" alt="facebook" class="logo-red-social mt-4">
      <img src="../assets/img/logo whatsapp.jpg" alt="whatsapp" class="logo-red-social mt-4">
      <img src="../assets/img/logo twitter.jpg" alt="twitter" class="logo-red-social mt-4">
      <img src="../assets/img/logo instagram.png" alt="instagram" class="logo-red-social mt-4">
    </div>
  </div>
  
</footer>