<div class="row">
    <div class="col-md-8 bienvenido">
        <h1>¡Bienvenid@ {{userName}}!</h1>
        <h1>¿Qué quieres hacer hoy?</h1>
    </div>
    <div class="col-md-4">
        <img src="../../../assets/img/imagen registro.jpg" alt="img beneficiario" class="imagen">
    </div>
    <br><hr>
    <div>
        <h3 style="text-align: center;">Conoce los beneficios que asisco up tiene para ti</h3>
    </div>
    <div class="mt-5 mb-5">
        <img src="../../../assets/img/actividades.jpg" alt="actividades" style="width: 40%; margin-left: 5%;">
        <img src="../../../assets/img/cursos-gratuitos.png" alt="cursos" style="width: 40%; margin-left: 10%;">
    </div>
</div>